.faculties-page header {
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../utils/images/faculties/courses-page-header.jpg);
}

.faculties-page .card-img-overlay {
    background-color: rgba(5, 10, 35, 0.7);
}

.faculties-page .card:hover {
    cursor: pointer;
}